<head>
<meta charset='utf-8'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>

<style>
  body { margin-top: 20px; }
  body {margin-left: 50px; }
  body {margin-right: 50px;}
  body {margin-bottom: 20px;}
</style>
</head>

<div class="container">
  <ul id="Menu">
  	<a class="button button-primary" href="/">Home</a>
    <a class="button button-primary" href="/presidential">Presidential</a>
    <a class="button button-primary" href="/senate">Senate</a>
    <a class="button button-primary" href="/congressional">Congressional</a>
    <a class="button button-primary" href="/contact">Contact Us</a>
  </ul>
</div>

<div class='markup'>
  <div class='view-container container'>
    <div class='landing-view'>
      <center><h1>2016 GOP Elections</h1></center>
      <center>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      <%=image_tag("/assets/rsz_republican.png")%>
      </center>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<br/>
<p>
  <strong>By: John Ramirez</strong><br/>
  <strong> Date: <%=@product.created_at%></strong>
</p>

<center><h1><u><%=@product.title%></u></h1></center>

<center><div class="some box" style="width:850px; border: 5px solid #e6e6e6; border-radius: 50px; padding: 5px; background-color: #e6e6e6;">
  <center><%= image_tag "/assets/#{@product.image_url}"%></center>
  <br/><br/>
  <center>
  <p>
  <strong>
    <%= @product.body %>
  </strong>
  </p>
  </center>
</div></center>

<%if logged_in?%>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<%end%>